@top:50px;
body{background-color:#fafafa;}

.left-menu{
	height:100%;
	width: 45px;
	background-color:#293038;
	a , i{
		color:#fff;
		text-decoration:none;
	}
	i{
		line-height: 54px;
		font-size: 16px;
		color:#aeb9c2
	}
	a{
		width:100%;
		height:100%;
		display:block;
	}
	span{
		display: none;
	}
	li{
		height:54px;
		line-height: 54px;
		position: relative;
		text-align: center;
		width:100%;
	}
	.active , li:hover{
		background-color:#222;
	}
	position: fixed;
	top:@top;
	left:0;
	z-index:2048;
}

.son-menu{
	position: fixed;
	top:@top;
	z-index:2048;
	left:45px;
	float: left;
	width:110px;
	height:100%;
	background-color:#EAEDF1;
	.item{
		display:none;
		width:100%;
		h2{
			font-size:14px;
			margin-left:14px;
			color:#555;
			position: relative;
			top:-1px;
		}
		.active , li:hover{
			background-color:#fafafa;
		}
		li{
			position: relative;
			font-size:12px;
			width:100%;
			span{
				margin-left: 42px;
			}
			a{
				position: relative;
				padding:8px 0;
				display:block;
				width:100%;
				height:100%;
				color:#777;
				text-decoration:none
			}
			i{
				position: absolute;
				top:13px;
				color:#777;
				left:20px;
				margin-right: 4px;
			}
		}
	}
}

.header{
	width:100%;
	height:@top;
	position: fixed;
	top:0px;
	z-index:2048;
	background-color: #fff;
	border-bottom:1px solid #f2f2f2;
	h1{
		float: left;
		font-size:20px;
		height:@top;
		line-height:@top - 3;
		width:45px;
		text-align:center;
		display:block;
		color:#fff;
		background-color:#293038;
		img{
			position: relative;
			top:8px;
			left:-3px;
			border-radius: 100%;
		}
	}
	.search{
		float: left;
		input[type='text']{
			float: left;
			padding:5px 10px;
			border:none;
			width:200px;
		}
		i{
			float: left;
			margin-left:20px;
			position: relative;
			top:15px;
			color:#aaa;
		}
	}
	.switch{
		float: left;
		display:block;
		height:@top;
		width:110px;
		text-decoration:none;
		text-align:center;
		color:#fff;
		line-height:@top - 7;
		background-color:#339BEB;
		font-size:14px;
		position: relative;
		.description{
			font-size:14px;
			position: relative;
			top:13px;
			left:3px;
		}
	
		img{
			float: left;
			border-radius:100%;
			position: relative;
			top:9px;
			left:12px;
		}
	}
}



.warpper{
	padding-bottom: 20px;
	width:100%;
	position: absolute;
	top:@top + 14;
	left:0;
	overflow: hidden;
	padding-left: 173px;
	padding-right: 20px;
	.tools{
		background-color:#fff;
		padding:10px;
		float: left;
		width:100%;
		box-shadow: 0 5px 18px 0px #eee;
	}
	select , option{
		background-color:#fff;
		border:1px solid #eee;
		cursor: pointer;
		padding:5px;
		outline: none;
		color:#555;
	}
	.box{
		float: left;
		width:100%;
		h1{
			width:100%;
			float: left;
			padding:5px 0;
			font-size:22px;
			font-weight: 400;
			border-left:3px solid #339beb;
			padding-left:10px;
			margin-bottom:10px;
			color:#666;
			span{
				font-size:14px;
				color:#ddd;
				margin-left:5px;
			}
		}
	}

}

