body {
  background-color: #fafafa;
}
.left-menu {
  height: 100%;
  width: 45px;
  background-color: #293038;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 2048;
}
.left-menu a,
.left-menu i {
  color: #fff;
  text-decoration: none;
}
.left-menu i {
  line-height: 54px;
  font-size: 16px;
  color: #aeb9c2;
}
.left-menu a {
  width: 100%;
  height: 100%;
  display: block;
}
.left-menu span {
  display: none;
}
.left-menu li {
  height: 54px;
  line-height: 54px;
  position: relative;
  text-align: center;
  width: 100%;
}
.left-menu .active,
.left-menu li:hover {
  background-color: #222;
}
.son-menu {
  position: fixed;
  top: 50px;
  z-index: 2048;
  left: 45px;
  float: left;
  width: 110px;
  height: 100%;
  background-color: #EAEDF1;
}
.son-menu .item {
  display: none;
  width: 100%;
}
.son-menu .item h2 {
  font-size: 14px;
  margin-left: 14px;
  color: #555;
  position: relative;
  top: -1px;
}
.son-menu .item .active,
.son-menu .item li:hover {
  background-color: #fafafa;
}
.son-menu .item li {
  position: relative;
  font-size: 12px;
  width: 100%;
}
.son-menu .item li span {
  margin-left: 42px;
}
.son-menu .item li a {
  position: relative;
  padding: 8px 0;
  display: block;
  width: 100%;
  height: 100%;
  color: #777;
  text-decoration: none;
}
.son-menu .item li i {
  position: absolute;
  top: 13px;
  color: #777;
  left: 20px;
  margin-right: 4px;
}
.header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0px;
  z-index: 2048;
  background-color: #fff;
  border-bottom: 1px solid #f2f2f2;
}
.header h1 {
  float: left;
  font-size: 20px;
  height: 50px;
  line-height: 47px;
  width: 45px;
  text-align: center;
  display: block;
  color: #fff;
  background-color: #293038;
}
.header h1 img {
  position: relative;
  top: 8px;
  left: -3px;
  border-radius: 100%;
}
.header .search {
  float: left;
}
.header .search input[type='text'] {
  float: left;
  padding: 5px 10px;
  border: none;
  width: 200px;
}
.header .search i {
  float: left;
  margin-left: 20px;
  position: relative;
  top: 15px;
  color: #aaa;
}
.header .switch {
  float: left;
  display: block;
  height: 50px;
  width: 110px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  line-height: 43px;
  background-color: #339BEB;
  font-size: 14px;
  position: relative;
}
.header .switch .description {
  font-size: 14px;
  position: relative;
  top: 13px;
  left: 3px;
}
.header .switch img {
  float: left;
  border-radius: 100%;
  position: relative;
  top: 9px;
  left: 12px;
}
.warpper {
  padding-bottom: 20px;
  width: 100%;
  position: absolute;
  top: 64px;
  left: 0;
  overflow: hidden;
  padding-left: 173px;
  padding-right: 20px;
}
.warpper .tools {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 5px 18px 0px #eee;
}
.warpper .box {
  float: left;
  width: 100%;
}
.warpper .box h1 {
  width: 100%;
  float: left;
  padding: 5px 0;
  font-size: 22px;
  font-weight: 400;
  border-left: 3px solid #339beb;
  padding-left: 10px;
  margin-bottom: 10px;
  color: #666;
}
.warpper .box h1 span {
  font-size: 14px;
  color: #ddd;
  margin-left: 5px;
}
